h2 {
    font-size: 42px;
}

h1 {
    font-size: 80px; 
}

body {
    background-image: #a8ff78;  
    background-image: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Yellowtail', cursive;

}
input {
    border: 1px solid green;
    border-radius: 100%;
    margin: 10px;
    object-fit: cover;
    overflow: hidden;
    
    
}
input:hover {
    background-color: 
     #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 


    ;
  }
  
li {
    font-size: 30px; 
}
